<form method="post" action="/users/signin">
  Username: <input type="text" name="username" value="<%= params[:username] %>">
  <br>
  Password: <input type="text" name="password">
  <br>
  <button type="submit">Sign In</button>
</form>