<form method="post" action="/users/signup">
  Enter your username here: <input type="text" name="username" value="<%= params[:username] %>">
  <br>
  Enter your password here (at least 8 characters including 1 lower case and upper case letter, 1 digit and 1 special character): <input type="text" name="password">
  <br>
  <button type="submit">Sign Up</button>
</form>